force-app/main/default/flows/groupdescriptiontotal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_cost</name>
        <label>Add cost</label>
        <locationX>384</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineLoop.Total_Material_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Group_List</name>
        <label>Add To Group List</label>
        <locationX>571</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineLoop.SBQQ__Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Total_Value_For_Next_Group</name>
        <label>Reset Total Value For Next Group</label>
        <locationX>385</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Totals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contains_Group_Id</name>
        <label>Contains Group Id?</label>
        <locationX>670</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Add_To_Group_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineGroupIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineLoop.SBQQ__Group__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLineLoop.SBQQ__Group__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Quote_Line_Ids</targetReference>
            </connector>
            <label>Contains</label>
        </rules>
    </decisions>
    <interviewLabel>groupdescriptiontotal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>groupdescriptiontotal</label>
    <loops>
        <name>Add_Totals</name>
        <label>Add Totals</label>
        <locationX>202</locationX>
        <locationY>480</locationY>
        <assignNextValueToReference>QuoteLineLoop</assignNextValueToReference>
        <collectionReference>QuoteLinesFromGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_cost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Groups</name>
        <label>Loop Groups</label>
        <locationX>206</locationX>
        <locationY>238</locationY>
        <assignNextValueToReference>QuoteLineGroupId</assignNextValueToReference>
        <collectionReference>QuoteLineGroupIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Quote_Lines_From_Group</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Line_Ids</name>
        <label>Loop Quote Line Ids</label>
        <locationX>203</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>QuoteLineLoop</assignNextValueToReference>
        <collectionReference>QuoteLineIDs2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contains_Group_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Lines_From_Group</name>
        <label>Get Quote Lines From Group</label>
        <locationX>205</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Total_Value_For_Next_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineGroupId</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>QuoteLinesFromGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Material_Cost__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Group</name>
        <label>Update Group</label>
        <locationX>6</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Loop_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineGroupId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>TotalCost</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLineGroup__c</object>
    </recordUpdates>
    <startElementReference>Loop_Quote_Line_Ids</startElementReference>
    <status>Active</status>
    <variables>
        <name>QuoteLineGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineIDs2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLinesFromGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>TotalCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
