force-app/main/default/flows/Lead_Time_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Set_Max_Lead_Time_Parent</name>
        <label>Set Max Lead Time Parent</label>
        <locationX>329</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Set_Max_Lead_Time_From_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetMaxLeadTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxLeadTimeChildProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LeadTimeParentProduct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Max_Lead_Time_From_Child</targetReference>
            </connector>
            <label>SetMaxLeadTime</label>
        </rules>
    </decisions>
    <interviewLabel>Teste Delivery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Time Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetChildQuoteLine</name>
        <label>GetChildQuoteLine</label>
        <locationX>149</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetParentQuoteLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputAssignments>
            <assignToReference>MaxLeadTimeChildProducts</assignToReference>
            <field>Max_Lead_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequiredByID</assignToReference>
            <field>SBQQ__RequiredBy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetParentQuoteLine</name>
        <label>GetParentQuoteLine</label>
        <locationX>151</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Max_Lead_Time_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputAssignments>
            <assignToReference>LeadTimeParentProduct</assignToReference>
            <field>Lead_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Max_Lead_Time_From_Parent</name>
        <label>Set Max Lead Time From Parent</label>
        <locationX>338</locationX>
        <locationY>336</locationY>
        <inputAssignments>
            <field>Lead_Time__c</field>
            <value>
                <elementReference>LeadTimeParentProduct</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Max_Lead_Time_From_Child</name>
        <label>Update Max Lead Time From Child</label>
        <locationX>574</locationX>
        <locationY>151</locationY>
        <inputAssignments>
            <field>Max_Lead_Time__c</field>
            <value>
                <elementReference>MaxLeadTimeChildProducts</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <startElementReference>GetChildQuoteLine</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ChildQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>LeadTimeParentProduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MaxLeadTimeChildProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RequiredByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
