force-app/main/default/flows/TotalCostTeste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>NewAssignment</name>
        <label>NewAssignment</label>
        <locationX>446</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Total_Material_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewLoop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NewDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Total Cost: R$&apos;&amp;TEXT({!TotalCost}) &amp;&apos;&lt;br/&gt;&apos; 
&amp;&apos;Total Price: &apos;&amp;&apos;&lt;br/&gt;&apos; 
&amp;&apos;Total Margin: &apos;</expression>
    </formulas>
    <interviewLabel>TotalCostTeste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TotalCostTeste</label>
    <loops>
        <name>NewLoop</name>
        <label>NewLoop</label>
        <locationX>280</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>Loop</assignNextValueToReference>
        <collectionReference>ColletionSubtotal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuoteLinesSubtotal</name>
        <label>GetQuoteLinesSubtotal</label>
        <locationX>160</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineGroupID</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>ColletionSubtotal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Material_Cost__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>NewUpdate</name>
        <label>NewUpdate</label>
        <locationX>281</locationX>
        <locationY>269</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineGroupID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>NewDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost__c</field>
            <value>
                <elementReference>TotalCost</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLineGroup__c</object>
    </recordUpdates>
    <startElementReference>GetQuoteLinesSubtotal</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>ColletionSubtotal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
